@model IEnumerable<MvcFolhetos.Models.Folhetos>

@{
    ViewBag.Title = "Lista de folhetos";
}
<style>
    /** {
        box-sizing: border-box;
    }
    .column {
        float: left;
        width: 25%;
        padding: 0 10px;
    }
    /* Remove extra left and right margins, due to padding in columns */


    .card * {
        font-family: 'Karla';
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    div.card:hover img,
    div.card.hover img {
        -webkit-transform: scale(1.10);
        transform: scale(1.10);
    }

    .card-footer {
        background-color: #e3f2fd;
    }

    .card {
        max-height: 600px;
        display: inline-block; /* change the default display type to inline-block */
        overflow: hidden; /* hide the overflow */
    }

    .card img {
        max-height: 300px;
        overflow: hidden;
    }

    /*div.card-deck * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .card-img-top {

        vertical-align: top;
        position: relative;
    }

    div.card-deck {
        max-width: 100%;
        overflow: hidden;
    }
</style>


<h2> Lista de folhetos </h2>

<p>
    @if (Request.IsAuthenticated && User.IsInRole("GestaoDeFolhetos"))
    { 
        <button class="btn btn-outline-primary" href="/Folhetos/Create">
            <i class="fas fa-plus-circle"></i>
            @Html.ActionLink("Adição de um folheto ", "Create")
        </button>
    }

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm())
        {
<p>
            Pesquisar por empresa: @Html.TextBox("SearchString")
            <input type="submit" value="Pesquisar" />
        </p>
        }
    }

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3 col-grid">
                <div class="card">

                    <div class="card text-center">

                        <div class="card-header">@Html.DisplayFor(modelItem => item.Titulo) </div>
                        @* Imagem do folheto. *@

                        <img class="card-img-top" src="~/imagens/folheto@(item.FolhetosID)/pagina1.jpeg" />

                        <div class="card-body">
                            <h6 class="card-title">  @Html.DisplayFor(modelItem => item.NomeEmpresa) </h6>

                        </div>
                        @Html.ActionLink("Ver folheto", "Details", new { id = item.FolhetosID }, new { @class = "btn btn-primary" })
                        <div class="card-footer text-muted">
                            @Html.DisplayFor(modelItem => item.DataInic) a @Html.DisplayFor(modelItem => item.DataFim)
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <br />
    @if (Request.IsAuthenticated && User.IsInRole("GestaoDeFolhetos"))
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Files)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.DataInic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataFim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeEmpresa)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        <a href="~/imagens/folheto@(item.FolhetosID)/" target="_blank">
                            <img src="~/imagens/folheto@(item.FolhetosID)/pagina1.jpeg" width="100" height="147" />
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataFim)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeEmpresa)
                    </td>
                    @*<td>
                            <div class="col-md-10">
                                @{ string selected = "";}
                                @foreach (var etiquetas in ViewBag.ListaDeTags)

                                {
                                    selected = "";
                                    foreach (int opcaoID in item.ListaDeTags.Select(b => b.ID))
                                    {
                                        if (etiquetas.ID == opcaoID) { selected = "checked"; }
                                    }
                                    <input type="checkbox" name="opcoesEscolhidasDeTags" value="@etiquetas.ID" @selected /> @etiquetas.Info
                                    <br />
                                }
                            </div>
                        </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.FolhetosID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.FolhetosID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.FolhetosID })
                    </td>
                </tr>
            }
        </table>
    }
